<div class="ui:flex ui:flex-col ui:gap-2">
  <p-dropdown
    styleClass="ui:w-full"
    [options]="types"
    [(ngModel)]="scType"
    optionLabel="name"
    [placeholder]="'Search in ...' | translate"
  />
  <p-inputgroup>
    <input
      type="text"
      pAutoFocus
      [autofocus]="true"
      [(ngModel)]="searchTerms"
      (keyup.enter)="searchSwisscovery()"
      pInputText
      placeholder="Keyword"
    />
    <button
      pButton
      (click)="searchSwisscovery()"
      icon="fa fa-search"
      severity="secondary"
      variant="text"
      outlined
    ></button>
  </p-inputgroup>

  @if(scResult) {
    @if(hasSwisscoveryResult){
      <dl>
        <dt translate>Title</dt>
        <dd>{{ scResult?.metadata?.title ? scResult.metadata.title : ('no title' | translate) }}</dd>
        @if(scResult?.contributors) {
        <dt translate>Contributors</dt>
        <dd>{{ scResult.contributors }}</dd>
        }
      </dl>
      <p-button (onClick)="save()" [label]="'Import' | translate" />
    }
    @else {
      <p-messages
        [value]="[{ severity: 'warn', detail: 'No result found' | translate }]"
        [enableService]="false"
        [closable]="false"
      />
    }
  }
</div>